---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestReviewsToShow: 5
---
{% set reviewsCount = collections.reviews | length %}
{% set latestReviewsCount = reviewsCount | min(numberOfLatestReviewsToShow) %}
<h1>Latest {{ latestReviewsCount }} Review{% if latestReviewsCount != 1 %}s{% endif %}</h1>

{% set reviewlist = collections.reviews | head(-1 * numberOfLatestReviewsToShow) %}
{% set reviewlistCounter = reviewsCount %}
{% include "reviewlist.njk" %}

{% set moreReviews = reviewsCount - numberOfLatestReviewsToShow %}
{% if moreReviews > 0 %}
    <p>{{ moreReviews }} more review{% if moreReviews != 1 %}s{% endif %} can be found in <a href="/blog/">the review</a>.</p>
{% endif %}
