---
layout: layouts/home.njk
permalink: /reviews/tags/
eleventyNavigation:
  key: By Tag
  parent: Reviews
  order: 3
---
<h1>Tags</h1>

<ul>
    {% for tag in collections.all | getAllTags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
        <li>
            <a href="{{ tagUrl }}" class="review-tag">{{ tag }}</a>
        </li>
    {% endfor %}
</ul>
