{%- css %}.reviewlist { counter-reset: start-from {{ (reviewsCounter or reviews.length) + 1 }} }{% endcss %}
<ul reversed class="reviewlist">
    {% for review in reviewlist | reverse %}
        <li class="reviewlist-item{% if review.url == url %} reviewlist-item-active{% endif %}">
            <img class="reviewlist-promo" src="/img/promo/{{ review.data.title | slugify }}.jpg" alt="{{ review.data.title }}"/>
            <a href="{{ review.url }}" class="reviewlist-link">
                {% if review.data.title %}{{ review.data.title }}
                {% else %}
                    <code>{{ review.url }}</code>
                {% endif %}
            </a>
            <time class="reviewlist-date" datetime="{{ review.date | htmlDateString }}">{{ review.date | readableDate("LLLL yyyy") }}</time>
        </li>
    {% endfor %}
</ul>
