---
# Metadata comes from _data/metadata.js
permalink: /feed/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ metadata.language }}">
    <title>{{ metadata.title }}</title>
    <subtitle>{{ metadata.description }}</subtitle>
    <link href="{{ permalink | htmlBaseUrl(metadata.url) }}" rel="self"/>
    <link href="{{ metadata.url | addPathPrefixToFullUrl }}"/>
    <updated>{{ collections.reviews | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
    <id>{{ metadata.url }}</id>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    {%- for review in collections.reviews | reverse %}
        {% set absoluteReviewUrl %}{{ review.url | htmlBaseUrl(metadata.url) }}{% endset %}
        <entry>
            <title>{{ review.data.title }}</title>
            <link href="{{ absoluteReviewUrl }}"/>
            <updated>{{ review.date | dateToRfc3339 }}</updated>
            <id>{{ absoluteReviewUrl }}</id>
            <content type="html">{{ review.templateContent | transformWithHtmlBase(absoluteReviewUrl, review.url) }}</content>
        </entry>
    {%- endfor %}
</feed>
