---
# Metadata comes from _data/metadata.js
permalink: /feed/feed.json
---
{
    "version": "https://jsonfeed.org/version/1.1",
    "title": "{{ metadata.title }}",
    "language": "{{ metadata.language }}",
    "home_page_url": "{{ metadata.url | addPathPrefixToFullUrl }}",
    "feed_url": "{{ permalink | htmlBaseUrl(metadata.url) }}",
    "description": "{{ metadata.description }}",
    "author": {
        "name": "{{ metadata.author.name }}",
        "url": "{{ metadata.author.url }}"
    },
    "items": [
        {%- for review in collections.reviews | reverse %}
    {%- set absoluteReviewUrl = review.url | htmlBaseUrl(metadata.url) %}
        {
            "id": "{{ absoluteReviewUrl }}",
            "url": "{{ absoluteReviewUrl }}",
            "title": "{{ review.data.title }}",
            "content_html": {% if review.templateContent %}{{ review.templateContent | transformWithHtmlBase(absoluteReviewUrl, review.url) | dump | safe }}
    {% else %}""{% endif %},
            "date_published": "{{ review.date | dateToRfc3339 }}"
        }
        {% if not loop.last %},{% endif %}
{%- endfor %}
]
}
